@import be.objectify.deadbolt.scala.views.html.di.subjectPresent
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(acc:WorkAccident)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@relEntLine(ent:BusinessEntity, rts:Set[RelationToAccident])={
  <a href="@routes.PublicCtrl.bizEntDetails(ent.id)">@ent.name</a>
  @for(rt<-rts.toSeq.sortBy(_.name)){<span class="badge bg-klo-blue me-1">@rt.name</span>}
}

@templates.frontEndBase(Messages("accidentDetails.title"), views.PublicSections.AccidentList) {
  @comps.pageTitleRow(Messages("accidentDetails.title")){
    @if( request.subject.isDefined ){
      <a class="btn btn-outline-klo-blue" href="@routes.WorkAccidentCtrl.showEdit(acc.id)">@comps.svg.edit() @Messages("edit")</a>
    }
  }
  <div class="row mb-2">
    @if(acc.hasTime) {
      <div class="col-sm-2 text-klo-dg">@Messages("dateTime")</div>
      <div class="col">@acc.when.format(Helpers.dateFormats(Helpers.DateFmt.HR_DateTime))</div>
    }else{
      <div class="col-sm-2 text-klo-dg">@Messages("date")</div>
      <div class="col">@acc.when.format(Helpers.dateFormats(Helpers.DateFmt.HR_Date))</div>
    }
  </div>
  @if( acc.blogPostUrl.trim.nonEmpty ) {
    <div class="row mb-2">
      <div class="col"><a href="@acc.blogPostUrl" target="_blank">@Messages("pressRelease")</a></div>
    </div>
  }
  <div class="row mb-2">
    <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.location")</div>
    <div class="col">
      @if( acc.location.trim.nonEmpty ) {
        @acc.location
      } else {
        @acc.region match {
          case None => {<div class="noData">@Messages("unknown")</div> }
          case Some(r) => {@r.name}
        }
      }
    </div>
  </div>
  @Helpers.ifNotEmpty(acc.relatedEntities){ relatedSet => @defining( relatedSet.iterator.toSeq.groupBy(_._2).map(p=>p._1->p._2.map(_._1).toSet).toSeq.sortBy(_._1.name) ) { relateds =>
    <div class="row mb-2">
      <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.relatedEntities")</div>
      <div class="col">
        @if( relateds.size == 1 ) {
          @relEntLine( relateds.head._1, relateds.head._2 )
        } else {
          <ul>
            @for( t <- relateds ) {
             <li>@relEntLine(t._1, t._2)</li>
            }
          </ul>
        }
      </div>
    </div>
    }
  }
  @if( acc.details.trim.nonEmpty ) {
    <div class="row mb-2">
      <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.details")</div>
      <div class="col">@acc.details</div>
    </div>
  }
  @if( acc.investigation.trim.nonEmpty ) {
    <div class="row mb-2">
      <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.investigation")</div>
      <div class="col">@acc.investigation</div>
    </div>
  }
  @if( acc.initialSource.trim.nonEmpty ) {
    <div class="row mb-2">
      <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.initialSource")</div>
      <div class="col">@acc.initialSource</div>
    </div>
  }
  @if( acc.mediaReports.filter(_.trim.nonEmpty).nonEmpty ){
    <div class="row mb-2">
      <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.mediaReports")</div>
      <div class="col">
        @if( acc.mediaReports.size == 1 ) {
          <a href="@acc.mediaReports.head">@acc.mediaReports.head</a>
        } else {
          <ul>
            @for( mr <- acc.mediaReports.filter(_.trim.nonEmpty) ) {
              <li><a href="@mr">@mr</a></li>
            }
          </ul>
        }
      </div>
    </div>
  }
  @if( acc.publicRemarks.trim.nonEmpty ) {
    <div class="row mb-2">
      <div class="col">@acc.publicRemarks</div>
    </div>
  }

  <div class="row mt-4">
    <div class="col">
      <h3>@Messages("injuredWorkers")</h3>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <ul class="injuredWorkers">
        @for( worker <- acc.injured.toSeq.sortBy(ij=>ij.injurySeverity) ) {
          <li>
            <div class="name">
              @if( worker.injurySeverity.contains(Severity.fatal) ){
                  @Helpers.nonEmptyOrElse(worker.name){name => @name}{@Messages("unknownName")}
                  @for( age <- worker.age ){ (@age)}
              } else {
                @Messages("unknownName")
                @for( age <- worker.age ){ (@Messages("age") @age)}
              }
            </div>
            <div class="row mb-2">
              <div class="col-sm-2 text-klo-dg">@Messages("severity")</div>
              <div class="col">
                @worker.injurySeverity match {
                  case None => {
                    <em class="text-klo-dg">@Messages("unknown")</em>
                  }
                  case Some(s) => {
                    @Messages("severity." + s.toString)
                  }
                }
              </div>
            </div>
            @for( ind <- worker.industry ) {
              <div class="row mb-2">
                <div class="col-sm-2 text-klo-dg">@Messages("industry")</div>
                <div class="col">@ind.name</div>
              </div>
            }
            @for( emp <- worker.employer ) {
              <div class="row mb-2">
                <div class="col-sm-2 text-klo-dg">@Messages("workplace")</div>
                <div class="col">@emp.name</div>
              </div>
            }
            @for( ctz <- worker.citizenship ) {
              <div class="row mb-2">
                <div class="col-sm-2 text-klo-dg">@Messages("citizenship")</div>
                <div class="col">@ctz.name</div>
              </div>
            }
            @Helpers.ifSome( worker.injuryCause ){ cz =>
              <div class="row mb-2">
                <div class="col-sm-2 text-klo-dg">@Messages("workAccidentEditor.injuryCause")</div>
                <div class="col">@cz.name</div>
              </div>
            }
            @defining( Seq(worker.injuryDescription, worker.publicRemarks).map(_.trim).filter(_.nonEmpty) ) { ps =>
              @if( ps.nonEmpty ){
                <div class="row">
                  <div class="col">
                      @for( p <- ps ){ <p>@Html(p.replaceAll("\n","<br>"))</p> }
                  </div>
                </div>
              }
            }
          </li>
        }
      </ul>
    </div>
  </div>


}