@(acc:WorkAccident)(implicit request:Request[_], msgs:MessagesProvider)

@templates.frontEndBase(Messages("accidentDetails.title"), views.PublicSections.AccidentList) {
  @comps.pageTitleRow(Messages("accidentDetails.title"))(Html(""))
  <div class="row">
    @if(acc.hasTime) {
      <div class="col-sm-2">@Messages("dateTime")</div>
      <div class="col">@acc.when.format(Helpers.dateFormats(Helpers.DateFmt.HR_DateTime))</div>
    }else{
      <div class="col-sm-2">@Messages("date")</div>
      <div class="col">@acc.when.format(Helpers.dateFormats(Helpers.DateFmt.HR_Date))</div>
    }
  </div>
  @if( acc.blogPostUrl.trim.nonEmpty ) {
    <div class="row">
      <div class="col"><a href="@acc.blogPostUrl" target="_blank">@Messages("pressRelease")</a></div>
    </div>
  }
  <div class="row">
    <div class="col-sm-2">@Messages("workAccidentEditor.location")</div>
    <div class="col">
      @if( acc.location.trim.nonEmpty ) {
        @acc.location
      } else {
        @acc.region match {
          case None => {<div class="noData">@Messages("unknown")</div> }
          case Some(r) => {@r.name}
        }
      }
    </div>
  </div>
  @for( ent <- acc.entrepreneur ) {
    <div class="row">
      <div class="col-sm-2">@Messages("workAccidentEditor.entrepreneurName")</div>
      <div class="col"> @ent.name </div>
    </div>
  }
  @if( acc.details.trim.nonEmpty ) {
    <div class="row">
      <div class="col-sm-2">@Messages("workAccidentEditor.details")</div>
      <div class="col">@acc.details</div>
    </div>
  }
  @if( acc.investigation.trim.nonEmpty ) {
    <div class="row">
      <div class="col-sm-2">@Messages("workAccidentEditor.investigation")</div>
      <div class="col">@acc.investigation</div>
    </div>
  }
  @if( acc.initialSource.trim.nonEmpty ) {
    <div class="row">
      <div class="col-sm-2">@Messages("workAccidentEditor.initialSource")</div>
      <div class="col">@acc.initialSource</div>
    </div>
  }
  @if( acc.mediaReports.filter(_.trim.nonEmpty).nonEmpty ){
    <div class="row">
      <div class="col-sm-2">@Messages("workAccidentEditor.mediaReports")</div>
      <div class="col">
        @if( acc.mediaReports.size == 1 ) {
          <a href="@acc.mediaReports.head">@acc.mediaReports.head</a>
        } else {
          <ul>
            @for( mr <- acc.mediaReports.filter(_.trim.nonEmpty) ) {
              <li><a href="@mr">@mr</a></li>
            }
          </ul>
        }
      </div>
    </div>
  }
  @if( acc.publicRemarks.trim.nonEmpty ) {
    <div class="row">
      <div class="col">@acc.publicRemarks</div>
    </div>
  }

  <div class="row mt-3">
    <div class="col">
      <h3>@Messages("injuredWorkers")</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="injuredWorkers">
        @for( worker <- acc.injured.toSeq.sortBy(ij=>ij.injurySeverity) ) {
          <li>
            <div class="name">
              @if( worker.injurySeverity.contains(Severity.fatal) ){
                  @Helpers.nonEmptyOrElse(worker.name){name => @name}{@Messages("unknownName")}
                  @for( age <- worker.age ){ (@age)}
              } else {
                @Messages("unknownName")
                @for( age <- worker.age ){ (@Messages("age") @age)}
              }
            </div>
            <div class="row">
              <div class="col-sm-2">@Messages("severity")</div>
              <div class="col">
                @worker.injurySeverity match {
                  case None => {
                    <span class="noData">@Messages("unknown")</span>
                  }
                  case Some(s) => {
                    @Messages("severity." + s.toString)
                  }
                }
              </div>
            </div>
            @for( ind <- worker.industry ) {
              <div class="row">
                <div class="col-sm-2">@Messages("industry")</div>
                <div class="col">@ind.name</div>
              </div>
            }
            @for( emp <- worker.employer ) {
              <div class="row">
                <div class="col-sm-2">@Messages("employer")</div>
                <div class="col">@emp.name</div>
              </div>
            }
            @for( ctz <- worker.citizenship ) {
              <div class="row">
                <div class="col-sm-2">@Messages("citizenship")</div>
                <div class="col">@ctz.name</div>
              </div>
            }
            @Helpers.ifSome( worker.injuryCause ){ cz =>
              <div class="row">
                <div class="col-sm-2">@Messages("workAccidentEditor.injuryCause")</div>
                <div class="col">@cz.name</div>
              </div>
            }
            @defining( Seq(worker.injuryDescription, worker.publicRemarks).map(_.trim).filter(_.nonEmpty) ) { ps =>
              @if( ps.nonEmpty ){
                <div class="row">
                  <div class="col">
                      @for( p <- ps ){ <p>@p</p> }
                  </div>
                </div>
              }
            }
          </li>
        }
      </ul>
    </div>
  </div>


}