@(bizEnt:BusinessEntity, accidents:Map[WorkAccidentSummary, Set[RelationToAccident]],
        sanctions:Seq[Sanction])(implicit request:Request[_], msgs:MessagesProvider)

@templates.frontEndBase(Messages("businessEntities.title") + "-" + bizEnt.name, views.PublicSections.BizEntList) {
  @comps.pageTitleRow( bizEnt.name + (if(bizEnt.isKnownContractor){ " <span class='badge text-bg-warning'>" + Messages("businessEntities.knownContractor") + "</span>"} else "") )(Html(""))

  <div class="row mt-2">
    <div class="col">
      <h2>@Messages("businessEntities.details")</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-2">@Messages("businessEntities.name")</div>
    <div class="col-10">
      @bizEnt.name
    </div>
  </div>
  <div class="row">
    <div class="col-2">@Messages("businessEntities.website")</div>
    <div class="col-10">@Helpers.nonEmptyOrElse(bizEnt.website)(s=> Html(s"<a href='$s'>$s</a>")){ <div class="noDataLight">@Messages("businessEntities.noData")</div> }</div>
  </div>
  <div class="row">
    <div class="col-2">@Messages("businessEntities.email")</div>
    <div class="col-10">@Helpers.nonEmptyOrElse(bizEnt.email)(s=> Html(s"<a href='mailto:$s'>$s</a>")){ <div class="noDataLight">@Messages("businessEntities.noData")</div> }</div>
  </div>
  @if( bizEnt.memo.nonEmpty && bizEnt.memo.get.trim.nonEmpty ) {
    <div class="row">
      <div class="col-2">@Messages("businessEntities.memo")</div>
      <div class="col-10">@bizEnt.memo.get</div>
    </div>
  }
  <div class="row mt-5">
    <div class="col">
      <h2>@Messages("businessEntities.relatedAccidents")</h2>
      <p>@defining( accidents.keys.toSeq.map(a => (a.killedCount, a.injuredCount) ).fold((0,0))((a,b)=>(a._1+b._1, a._2+b._2)) ){ cnts =>
        @if(accidents.size==1){@Messages("accidentCount.single")}else{@Messages("accidentCount.multi", accidents.size)},
        @comps.injuredCounts(cnts._1, cnts._2-cnts._1).
      }
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        @for( (acc, rels) <- accidents.toSeq.sortBy(_._1.dateTime).reverse ) {
          <li>
            @acc.date.format( Helpers.dateFormats(Helpers.DateFmt.HR_Date))
            <a href="@routes.PublicCtrl.accidentDetails(acc.id)">
              @acc.details
            </a>
            @for(rel<-rels.toSeq.sortBy(_.name)){<span class="badge bg-klo-blue me-1">@rel.name</span>}
            <span class="text-klo-dg">@comps.injuredCounts(acc.killedCount, acc.injuredCount-acc.killedCount)</span>
          </li>
        }
      </ul>
    </div>
    @if( sanctions.nonEmpty ){
      <div class="row mt-5">
        <div class="col">
          <h2>@Messages("businessEntities.registeredSanctions")</h2>
          <table class="table">
            <thead>
              <tr>
                <th>@Messages("businessEntities.sanctionAuthority")</th>
                <th>@Messages("date")</th>
                <th>@Messages("businessEntities.reason")</th>
                <th>@Messages("businessEntities.sanctionDetails")</th>
                <th>@Messages("businessEntities.remarks")</th>
              </tr>
            </thead>
            <tbody>
              @for( snc <- sanctions ) {
                <tr>
                  <td>@snc.authority</td>
                  <td>@snc.applicationDate</td>
                  <td>@snc.reason</td>
                  <td>@snc.sanctionType</td>
                  <td>@snc.remarks</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  </div>
}
