@(injuredWorkers:Seq[InjuredWorkerRow], thisYearByIndustry:Map[Option[Industry],Map[Option[Severity.Value],Int]],
        prevYears:Map[Int,Map[Option[Severity.Value],Int]])(implicit request:RequestHeader, msgs:MessagesProvider)

@extrahead={
  <link href="@routes.Assets.versioned("vnd/c3/c3.min.css")" rel="stylesheet">
  <script src="@routes.Assets.versioned("lib/d3js/d3.min.js")" charset="utf-8"></script>
  <script src="@routes.Assets.versioned("vnd/c3/c3.min.js")"></script>
}
@extraBottom={
  <script>
  UiUtils.documentReady(function() {
    c3.generate({
      data: {
        columns: [
          @for(indOpt <- thisYearByIndustry.map( p => p._1 -> p._2.toSeq.map(_._2).sum).toSeq.sortBy(_._1.map(_.name).getOrElse(""))) {
            ['@indOpt._1.map(_.name).getOrElse(Messages("unknown"))', @indOpt._2],
          }
        ],
        type: 'donut',
      },
      bindto: '#injuriesThisYearBranch',
      donut: {
        title: "@Messages("publicIndex.injuriesBranch")"
      },
      tooltip: {
        format: {
          value: function (value, ratio, id, index) { return value; }
        }
      }
    });
    c3.generate({
      data: {
        columns: [
          @for( sevOpt <- thisYearByIndustry.toSeq.flatMap( p => p._2.toSeq ).groupBy(_._1).map(p=>p._1->p._2.map(_._2).sum).toSeq.sortBy(_._1.map(_.id).getOrElse(-1))) {
            ['@sevOpt._1.map(s=>Messages("severity.s."+s.toString)).getOrElse(Messages("unknown"))', @sevOpt._2],}
        ],
        type: 'donut',
      },
      bindto: '#injuriesThisYearSeverity',
      donut: {
        title: "@Messages("publicIndex.injuriesSeverity")"
      },
      tooltip: {
        format: {
          value: function (value, ratio, id, index) { return value; }
        }
      }
    });
    c3.generate({
      bindto:'#injuriesByYear',
      data: {
          x:'x',
        columns: [
            ['x', @Html(prevYears.toSeq.map(_._1).map(_.toString).mkString("'","','","'"))],
            @for( r <- prevYears.toSeq.flatMap(p=>p._2.toSeq.map(m=>(m._1, p._1, m._2))).groupBy(_._1).map(p=>p._1->p._2.map(_._3)).toSeq.sortBy(_._1.map(_.id).getOrElse(-1)) ){
                ['@r._1.map(s=>Messages("severity.s."+s.toString)).getOrElse(Messages("unknown"))', @r._2.mkString(",")],}
        ],
        type: 'bar',
        groups: [
          ['@Messages("unknown")', @Html(Severity.values.map(s=>Messages("severity.s."+s.toString)).mkString("'","','","'"))]
        ]
      },
      grid: {
        y: {
          show: 'true'
        }
      }
    });
  });
  </script>
}

@templates.bsNavbar(Messages("application.title"), views.Structure.publicItems, views.PublicSections.Home, extrahead, extraBottom) {
  <div class="row my-3">
    <div class="col text-center">
      <h1 class="display-1 mb-2 text-klo-blue">@Messages("publicIndex.hero")</h1>
      <strong>@Messages("publicIndex.sub")</strong>
      <hr>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 my-3">
    <div class="col mt-3">
      <h3 class="mb-3">@Messages("publicIndex.recentInjuries")</h3>
      <ul class="injuredList-main">
      @for( wkr <- injuredWorkers ){
        <li>
          <a href="@routes.PublicCtrl.accidentDetails(wkr.accidentId)">
          @wkr.accidentDate.format( Helpers.dateFormats(Helpers.DateFmt.HR_Date))
          @if( wkr.worker.injurySeverity.contains(Severity.fatal) ) {
            @Helpers.nonEmptyOrElse(wkr.worker.name){n=><em>@n</em>}{<span class="text-muted">@Messages("unknownName")</span>}@Helpers.ifNotEmpty(wkr.worker.citizenship){cz=>, @cz.name}.
          } else {
            @wkr.worker.citizenship match {
              case None=>{<span class="text-muted">@Messages("unknownCitizenship")</span>}
              case Some(c)=>{ @c.name }
            }
          }
          @Helpers.ifNotEmpty(wkr.worker.age){age => @Messages("age") @age.}
          @wkr.worker.injurySeverity.map(s=>Messages("severity." + s)+".").getOrElse("")
          @Helpers.ifNotEmpty(wkr.worker.injuryCause){cz=> @cz.name.}
          @comps.svg.arrowLeftCircle()
          </a>
        </li>
      }
      </ul>
    </div>
    <div class="col mt-3">
      <h3>@Messages("publicIndex.injuredThisYear")</h3>
      <div class="table-responsive">
        @defining( Severity.values.toSeq.map(Some(_)) ++ Seq(None) ) { cols =>
          <table class="table">
            <thead>
              <tr>
                <th>@Messages("industry")</th>
                @for( so <- cols ) {
                  @so match {
                    case Some(s) => {<th>@Messages("severity.s."+s)</th>}
                    case None => {<th class="text-muted">@Messages("unknown")</th>}
                  }
                }
                <th>@Messages("total")</th>
              </tr>
            </thead>
            <tbody>
              @for( row <- thisYearByIndustry ){
                <tr>
                  @row._1 match {
                    case None => {<th class="text-muted">@Messages("unknown")</th>}
                    case Some(ind) => {<th>@ind.name</th>}
                  }
                  @for( s <- cols ) {
                    <td>@row._2.getOrElse(s,0)</td>
                  }
                  <th>@row._2.values.sum</th>
                </tr>
              }
              <tr>
                <th>@Messages("total")</th>
                @for( s <- cols ) {
                  <th>@thisYearByIndustry.values.map(m=>m.getOrElse(s,0)).sum</th>
                }
                <th>@thisYearByIndustry.values.flatMap(m=>m.values).sum</th>
              </tr>
            </tbody>
          </table>
        }
      </div>
    </div>
    <div class="col mt-3">
      <h3>@Messages("publicIndex.injuredThisYear") (@Messages("publicIndex.injuriesBranch"))</h3>
      <div id="injuriesThisYearBranch" style="direction:ltr"></div>
    </div>
    <div class="col mt-3">
      <h3>@Messages("publicIndex.injuredThisYear") (@Messages("publicIndex.injuriesSeverity"))</h3>
      <div id="injuriesThisYearSeverity" style="direction:ltr"></div>
    </div>

    <div class="col mt-3">
      <h3>@Messages("publicIndex.prevYears")</h3>
      <div class="table-responsive">
        @defining( Severity.values.toSeq.map(Some(_)) ++ Seq(None) ) { cols =>
          <table class="table">
            <thead>
              <tr>
                <th>@Messages("year")</th>
                @for( so <- cols ) {
                  @so match {
                    case Some(s) => {<th>@Messages("severity.s."+s)</th>}
                    case None => {<th class="text-muted">@Messages("unknown")</th>}
                  }
                }
                <th>@Messages("total")</th>
              </tr>
            </thead>
            <tbody>
              @for( yearRow <- prevYears.toSeq.sortBy(_._1).reverse ){
                <tr>
                  <th>@yearRow._1</th>
                  @for( col <- cols ) {
                    <td>@yearRow._2.getOrElse(col, 0)</td>
                  }
                  <th>@yearRow._2.values.sum</th>
                </tr>
              }
              <tr>
                <th>@Messages("total")</th>
                @for( col <- cols ) {
                  <th>@prevYears.values.map( m=>m.getOrElse(col,0) ).sum</th>
                }
                <th>@prevYears.values.flatMap( m=>m.values ).sum</th>
              </tr>
            </tbody>
          </table>
        }
      </div>
    </div>

    <div class="col mt-3">
      <h3>@Messages("publicIndex.injuriesByYear")</h3>
      <div id="injuriesByYear" style="direction:ltr"></div>
    </div>

    <div class="col mt-3">
      <h3 class="mb-3">@Messages("publicIndex.links")</h3>
      <ul class="linkList">
        <li><a href="@routes.PublicCtrl.accidentIndex(None, None, None, None, None, None, None, None)">@Messages("publicIndex.links.accidentList")</a></li>
        <li><a href="@routes.PublicCtrl.fatalities(None)">@Messages("publicIndex.links.fatalities")</a></li>
        <li><a href="@routes.PublicCtrl.datasets()">@Messages("publicIndex.links.datasets")</a></li>
        <li><a href="http://kavlaoved.org.il">@Messages("publicIndex.links.kloHomepage")</a></li>
      </ul>
    </div>
  </div>
}
