@(totalCount: Int, totalIn20:Int, pct:Double, worst20Map:Map[Int, Seq[String]])(implicit request:Request[_], msgs:MessagesProvider)

@templates.frontEndBase(Messages("safetyWarrants.top20.title"), views.PublicSections.SafetyWarrants) {
  @comps.pageTitleRow(Messages("safetyWarrants.top20.title")){ }

  @nav(views.SafetyWarrantSections.Top20)

  @comps.helpRow(Messages("safetyWarrants.top20.info", totalCount, totalIn20, pct))

  <div class="row my-2">
    <div class="col">
      @if(worst20Map.find(_._2.exists(_.isBlank))) {
        <div class="alert alert-warning d-flex flex-row align-items-center">
          <div class="ms-3">
          @comps.svg.exclamationTriangle()
          </div>
          <div>@Messages("safetyWarrants.warrantCountNoName", worst20Map.find(_._2.exists(_.isBlank)).map(_._1).get)</div>
        </div>
      }
      <table class="table table-striped worst20">
        <thead>
          <tr>
            <th>@Messages("safetyWarrants.top20.place")</th>
            <th>@Messages("safetyWarrants.top20.executors")</th>
            <th>@Messages("safetyWarrants.top20.warrantCount")</th>
          </tr>
        </thead>
        @for( p <- worst20Map.toSeq.filter( r => r._2.exists(_.nonEmpty)).sortBy(_._1).reverse.zipWithIndex ) {
          <tr>
            <td>@{p._2+1}</td>
            <td>
              @for( n <- p._1._2.zipWithIndex ){@if(n._2>0){@Html("<br>")}<a href="@routes.PublicCtrl.safetyWarrantsForExec(n._1)">@n._1</a>}
            </td>
            <td>
              @p._1._1
            </td>
          </tr>
        }
      </table>
    </div>
  </div>
}
