@import views.PaginationInfo
@(warrants:Seq[SafetyWarrant], pi:PaginationInfo, total:Int, searchStr:Option[String], startDate:Option[String], endDate:Option[String], executorName:Option[String])(implicit request:Request[_], msgs:MessagesProvider)

@templates.frontEndBase(Messages("safetyWarrantList.title"), views.PublicSections.SafetyWarrants) {
  @comps.pageTitleRow(Messages("safetyWarrantList.title")){
    <div class="ms-2">
      @Messages("safetyWarrantList.foundCount", total)
      @defining( Seq(searchStr, startDate, endDate, executorName).flatten.exists(_.trim.nonEmpty) ) { hasFilter =>
        <button class="btn btn-outline-klo-blue @if(hasFilter){btnActive}" data-bs-toggle="collapse" data-bs-target="#searchPanel">@comps.svg.search() @Messages("filterAndSearch")</button>
      }
    </div>
  }

  @nav(views.SafetyWarrantSections.List)

  <div class="collapse" id="searchPanel">
    <form action="@routes.PublicCtrl.safetyWarrantsList(None, None, None, None, None)" class="row row-cols-1 row-cols-md-5 my-3 px-3" method="GET">
      <div class="col">
        <div class="input-group">
          <label for="startDate" class="input-group-text">@Messages("from")</label>
          <input type="date" placeholder="@Messages("safetyWarrantList.searchStartDate")" class="form-control" name="startDate" id="startDate" value="@startDate.getOrElse("")">
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="endDate" class="input-group-text">@Messages("to")</label>
          <input type="date" placeholder="@Messages("safetyWarrantList.searchEndDate")" class="form-control" name="endDate" id="endDate" value="@endDate.getOrElse("")">
        </div>
      </div>
      <div class="col">
        <input type="text" placeholder="@Messages("safetyWarrantList.executorName")" class="form-control" name="executorName" value="@executorName.getOrElse("")">
      </div>
      <div class="col">
        <input type="text" placeholder="@Messages("safetyWarrantList.freeText")" class="form-control" name="searchStr" value="@searchStr.getOrElse("")">
      </div>
      <div class="col text-end">
        <button class="btn btn-klo-blue">@Messages("search")</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>@Messages("safetyWarrants.table.number")</th>
              <th>@Messages("safetyWarrants.table.date")</th>
              <th>@Messages("safetyWarrants.table.cityName")</th>
              <th>@Messages("safetyWarrants.table.felony")</th>
              <th>@Messages("safetyWarrants.table.executor")</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          @for( p <- warrants ) {
            <tr>
              <td><a href="@routes.PublicCtrl.showSafetyWarrant(p.id)">@p.id</a></td>
              <td>@Helpers.dateFormats(Helpers.DateFmt.HR_Date).format(p.sentDate)</td>
              <td>@p.cityName</td>
              <td>@p.felony</td>
              <td><a href="@routes.PublicCtrl.safetyWarrantsForExec(p.executorName)">@p.executorName</a></td>
              <td><a href="@routes.PublicCtrl.showSafetyWarrant(p.id)">@comps.svg.arrowLeftCircle()</a></td>
            </tr>
          }
        </table>
      </div>
      @comps.pager(pi){i=>@Html(routes.PublicCtrl.safetyWarrantsList(searchStr, startDate, endDate, executorName, Some(i)).url)}
    </div>
  </div>


}
