@(frm:Form[_], fieldName:String, locPrefix:String="",
        isReadOnly:Boolean=false, isRequired:Boolean=false, isShowHelp:Boolean=false)(control:Html)(implicit msgs:MessagesProvider)
<div class="row mb-3">
  <label for="fld-@fieldName" class="col-sm-2 col-form-label">@Messages(locPrefix+fieldName)
    @if(isRequired){<span class="badge bg-warning">@Messages("mandatoryField")</span>}
  </label>
  <div class="col-sm-10">@control@if(isShowHelp){
    <div class="form-text">@Messages(locPrefix+fieldName+".help")</div>
  }</div>
</div>