@import views.PaginationInfo
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import dataaccess.BusinessEntityDAO.SortKey
@(ents:Seq[BusinessEntity], pi:PaginationInfo, curSort:SortKey.Value, isAsc:Boolean)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase(Messages("businessEntities.title"), views.BackOfficeSections.BusinessEntities) {
  @comps.pageTitleRow(Messages("businessEntities.title")){
    <a href="@routes.BusinessEntityCtrl.showNew()" class="btn btn-outline-primary">@comps.svg.add() @Messages("businessEntities.addNew")</a>
  }
  @comps.helpRow(Messages("businessEntities.help"))

  <div class="row my-2">
    <div class="col">
      @if( ents.isEmpty ){
        <div class="noData noData-block py-4">
          <div class="my-4">
            @Messages("businessEntities.noData")
          </div>
          <a href="@routes.BusinessEntityCtrl.showNew()" class="btn btn-outline-light">@comps.svg.add() @Messages("businessEntities.addNew")</a>
        </div>
      }else{
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              @comps.sortingTH(Messages("name"),
                b=>routes.BusinessEntityCtrl.backofficeIndex(None,Some("Name"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
                curSort, SortKey.Name, isAsc)
              @comps.sortingTH(Messages("phone"),
                b=>routes.BusinessEntityCtrl.backofficeIndex(None,Some("Phone"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
                curSort, SortKey.Phone, isAsc)
              @comps.sortingTH(Messages("email"),
                b=>routes.BusinessEntityCtrl.backofficeIndex(None,Some("Email"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
                curSort, SortKey.Email, isAsc)
              <th scope="col">@Messages("website")</th>
            </tr>
          </thead>
          <tbody>
            @for( ent <- ents ){
              <tr>
                <td><a href="@routes.BusinessEntityCtrl.showEdit(ent.id)">@ent.name</a>
                  @if(ent.isPrivatePerson){<span class="badge bg-success">@Messages("businessEntities.isPrivatePerson")</span>}
                  <a href="@routes.BusinessEntityCtrl.showEdit(ent.id)" class="btn btn-sm btn-outline-secondary">@comps.svg.edit()</a>
                </td>
                <td>@for( p <- ent.phone ){
                  <a href="tel:@p">@p</a>}</td>
                <td>@for( p <- ent.email ){
                  <a href="mailto:@p">@p</a>}</td>
                <td>@for( p <- ent.website ){
                  <a href="@p">@p</a>}</td>
              </tr>
            }
          </tbody>
        </table>
        @comps.pager(pi){i=>@routes.BusinessEntityCtrl.backofficeIndex(None, Some(curSort.toString), Some(if(isAsc)"t" else "f"), Some(i))}
      }
    </div>
  </div>
}