@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(frm:Form[BusinessEntity])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@extraHead={
  <script>
    const deleteMsg="@Messages("businessEntitiesEditor.deleteMsg")";
    const subMsg="@Messages("businessEntitiesEditor.deleteMsgSub")";
    function kickoffDeleteEntity(){
        Informationals.makeYesNo(deleteMsg, subMsg,
                (res, info)=>{info.dismiss(); if (res){ doDelete();}},
                null,
                Informationals.messageTypes.DANGER
                ).show();
    }

    function doDelete(){
        Informationals.loader("@Messages("deleting")");
        new Playjax(beRoutes).using(c=>c.BusinessEntityCtrl.doDeleteEntity(@frm("id").value.get))
                .fetch()
                .then( function(r){
                    if (r.ok) {
                      window.location.href=beRoutes.controllers.BusinessEntityCtrl.backofficeIndex().url;
                    } else {
                      Informationals.loader.dismiss();
                      Informationals.makeDanger("@Messages("businessEntitiesEditor.deletionFailed")");
                    }
                });
    }
  </script>
}

@templates.backEndBase(Messages("businessEntitiesEditor.title"), views.BackOfficeSections.BusinessEntities, extraHead) {
  @comps.pageTitleRow(Messages("businessEntitiesEditor.title")){
    @if( frm("id").value.getOrElse(0)!="0" ){
      <button type="button" onclick="kickoffDeleteEntity()" class="btn btn-danger">@comps.svgTrash() @Messages("delete")</button>
      <hr class="vr">
    }
    <button type="button" onclick="document.getElementById('bizEntityForm').submit()" class="btn btn-primary">@comps.svgCheck() @Messages("save")</button>
    <a class="btn btn-outline-danger" href="@routes.BusinessEntityCtrl.backofficeIndex(None, None, None, None)">@comps.svgX() @Messages("cancel")</a>
  }

  <div class="row my-2">
    <div class="col">
      <form action="@routes.BusinessEntityCtrl.doSaveEntity()" method="post" id="bizEntityForm">
        @helper.CSRF.formField
        @if( frm("id").value.getOrElse(0)!="0" ){
          @comps.bform.fieldHRow(frm, "id", isReadOnly = true )
        }else{
          <input type="hidden" name="id" value="0">
        }
        @comps.bform.fieldHRow(frm,"name", isRequired=true)
        <div class="row mb-3">
          <div class="col-7" style="padding-right: 14.5em;">
            <div class="form-check">
              @defining( frm("isPrivatePerson").value.contains("true")){ isPrPsn =>
                <input type="checkbox" class="form-check-input" value="true" name="isPrivatePerson" id="fldPrivatePerson" @if(isPrPsn){checked="checked"}>
              }
              <label for="fldPrivatePerson" class="form-check-label">@Messages("businessEntities.isPrivatePerson")</label>
            </div>
          </div>
        </div>
        @comps.bform.fieldHRow(frm, "phone")
        @comps.bform.fieldHRow(frm, "email", inputType="email")
        @comps.bform.fieldHRow(frm, "website", inputType="url")
        @comps.bform.textareaHRow(frm, "memo")
        @comps.bform.submitRow(routes.BusinessEntityCtrl.backofficeIndex(None, None, None, None))

      </form>
    </div>
  </div>
}