
@import views.PaginationInfo
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(ents:Seq[BusinessEntity], pi:PaginationInfo)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase(Messages("businessEntities.title"), views.BackOfficeSections.BusinessEntities) {
  @comps.pageTitleRow(Messages("businessEntities.title")){
    <a href="@routes.BusinessEntityCtrl.showNew()" class="btn btn-outline-primary">@comps.svgAdd() @Messages("businessEntities.addNew")</a>
  }
  @comps.helpRow(Messages("businessEntities.help"))

  <div class="row my-2">
    <div class="col">
      @if( ents.isEmpty ){
        <div class="noData noData-block py-4">
          <div class="my-4">
            @Messages("businessEntities.noData")
          </div>
          <a href="@routes.BusinessEntityCtrl.showNew()" class="btn btn-outline-light">@comps.svgAdd() @Messages("businessEntities.addNew")</a>
        </div>
      }else{
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">@Messages("name")</th>
              <th scope="col">@Messages("phone")</th>
              <th scope="col">@Messages("email")</th>
              <th scope="col">@Messages("website")</th>
            </tr>
          </thead>
          <tbody>
            @for( ent <- ents ){
              <tr>
                <td><a href="@routes.BusinessEntityCtrl.showEdit(ent.id)">@ent.name</a>
                  @if(ent.isPrivatePerson){<span class="badge bg-success">@Messages("businessEntities.isPrivatePerson")</span>}
                  <a href="@routes.BusinessEntityCtrl.showEdit(ent.id)" class="btn btn-sm btn-outline-secondary">@comps.svgEdit()</a>
                </td>
                <td>@for( p <- ent.phone ){
                  <a href="tel:@p">@p</a>}</td>
                <td>@for( p <- ent.email ){
                  <a href="mailto:@p">@p</a>}</td>
                <td>@for( p <- ent.website ){
                  <a href="@p">@p</a>}</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
}