@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(frm:Form[BusinessEntity], sanctions:Map[String,Seq[String]])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@extraHead={
  @Helpers.registerWebComponent("table-comp")
  <script src="@routes.Assets.versioned("js/businessEntitiesEditor.js")"></script>
  <script>
    const deleteMsg="@Messages("businessEntitiesEditor.deleteMsg")";
    const subMsg="@Messages("businessEntitiesEditor.deleteMsgSub")";
    const mergeWarning = "@Html(Messages("businessEntitiesEditor.mergeWarning"))";
    const mergeWarning2 = "@Html(Messages("businessEntitiesEditor.mergeWarning2"))";
    const TITLES = ["@Messages("businessEntities.sanctionAuthority")", "@Messages("date")", "@Messages("businessEntities.reason")",
      "@Messages("businessEntities.sanctionDetails")", "@Messages("businessEntities.remarks")", "@Messages("actions")"];
    const ENTITY_ID=@frm("id").value.getOrElse(-1);
    const SANCTIONS = {
      @for( auth <- sanctions.keys ){
        "@auth": [@Html(sanctions(auth).mkString("\"", "\",\"","\""))],
      }
    }
    function kickoffDeleteEntity(){
        Informationals.makeYesNo(deleteMsg, subMsg,
                (res, info)=>{info.dismiss(); if (res){ doDelete();}},
                null,
                Informationals.messageTypes.DANGER
                ).show();
    }

    function doDelete(){
        Informationals.loader("@Messages("deleting")");
        new Playjax(beRoutes).using(c=>c.BusinessEntityCtrl.doDeleteEntity(@frm("id").value.get))
                .fetch()
                .then( function(r){
                    if (r.ok) {
                      window.location.href=beRoutes.controllers.BusinessEntityCtrl.backofficeIndex().url;
                    } else {
                      Informationals.loader.dismiss();
                      Informationals.makeDanger("@Messages("businessEntitiesEditor.deletionFailed")");
                    }
                });
    }
  </script>
  <style>
    #similarBizEnts {
      padding: 0;
    }
    #similarBizEnts li {
      display: flex;
      flex-direction:row;
      margin: .1em 0;
    }
    #similarBizEnts li:hover {
      background-color: #EEE;
    }
    #similarBizEnts li a {
      display: block;
      padding: 0 .2em;
      margin-right: auto;
      margin-left: .5em;
      border-radius: 4px;
      border: 1px solid #00F;
      text-decoration: none;
    }
    #similarBizEnts li a:hover {
      background: #FF0;
    }
  </style>
}

@bottom={
  <script>
    UiUtils.documentReady( setup );
  </script>
}

@templates.backEndBase(Messages("businessEntitiesEditor.title"), views.BackOfficeSections.BusinessEntities, extraHead, bottom) {
  @comps.pageTitleRow(Messages("businessEntitiesEditor.title")){
    @if( frm("id").value.getOrElse(0)!="0" ){
      <button type="button" onclick="kickoffDeleteEntity()" class="btn btn-danger">@comps.svg.trash() @Messages("delete")</button>
      <hr class="vr">
    }
    <a class="btn btn-outline-danger" href="@routes.BusinessEntityCtrl.backofficeIndex(None, None, None, None)">@comps.svg.x() @Messages("cancel")</a>
  }

  @if( frm("id").value.getOrElse(0)!="0" ) {
    <div class="row my-2">
      <div class="col">
        <nav class="nav nav-tabs justify-content-center">
          <a class="nav-link active" aria-current="page" data-bs-target="#detailsForm" data-bs-toggle="tab">@Messages("businessEntities.details")</a>
          <a class="nav-link" aria-current="page"  data-bs-target="#sanctions" data-bs-toggle="tab">@Messages("businessEntities.sanctions")</a>
          <a class="nav-link" aria-current="page"  data-bs-target="#union" data-bs-toggle="tab">@Messages("businessEntitiesEditor.union")</a>
        </nav>
      </div>
    </div>
  }
  <div class="row my-2">
    <div class="col">
      <div class="tab-content">
        <div class="tab-pane active" id="detailsForm">
          <form action="@routes.BusinessEntityCtrl.doSaveEntity()" method="post" id="bizEntityForm">
            @helper.CSRF.formField
            @if( frm("id").value.getOrElse(0)!="0" ){
              @comps.bform.fieldHRow(frm, "id", isReadOnly = true )
            }else{
              <input type="hidden" name="id" value="0">
            }
            @comps.bform.fieldHRow(frm,"name", isRequired=true)
            <div class="row mb-3">
              <div class="col-7" style="padding-right: 14.5em;">
                <div class="form-check">
                  @defining( frm("isPrivatePerson").value.contains("true")){ isPrPsn =>
                    <input type="checkbox" class="form-check-input" value="true" name="isPrivatePerson" id="fldPrivatePerson" @if(isPrPsn){checked="checked"}>
                  }
                  <label for="fldPrivatePerson" class="form-check-label">@Messages("businessEntities.isPrivatePerson")</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-7" style="padding-right: 14.5em;">
                <div class="form-check">
                  @defining( frm("isKnownContractor").value.contains("true")){ isPrPsn =>
                    <input type="checkbox" class="form-check-input" value="true" name="isKnownContractor" id="fldKnownContractor" @if(isPrPsn){checked="checked"}>
                  }
                  <label for="fldKnownContractor" class="form-check-label">@Messages("businessEntities.knownContractor")</label>
                </div>
              </div>
            </div>
            @comps.bform.fieldHRow(frm, "pcNumber", inputType="number", max=java.lang.Integer.MAX_VALUE)
            @comps.bform.fieldHRow(frm, "phone")
            @comps.bform.fieldHRow(frm, "email", inputType="email")
            @comps.bform.fieldHRow(frm, "website", inputType="url")
            @comps.bform.textareaHRow(frm, "memo")
            @comps.bform.submitRow(routes.BusinessEntityCtrl.backofficeIndex(None, None, None, None))
          </form>
        </div>
        <div class="tab-pane" id="sanctions">
          <div class="row mt-2">
            <div class="col-6">
              <label for="sltAuthority" class="form-label">@Messages("businessEntities.sanctionAuthority")</label>
              <select class="form-select mb-1" name="authority" id="sltAuthority" onchange="updateSanctionUi(this.value)" required>
              </select>
              <label for="fldDate" class="form-label">@Messages("businessEntities.sanctionDate")</label>
              <input type="date" class="form-control mb-1" id="fldDate" autocomplete="off" required>
              <label for="fldReason" class="form-label">@Messages("businessEntities.reason")</label>
              <input class="form-control mb-1" type="text" id="fldReason" placeholder="@Messages("businessEntities.reason")" autocomplete="off">
            </div>
            <div class="col-4">
              <label for="" class="form-label">@Messages("businessEntities.sanctionDetails")</label>
              <ul id="ulSanctionTypes" class="list-unstyled">

              </ul>
            </div>
            <div class="col-2 d-flex flex-column flex-">
              <button id="btnSave" class="btn my-1 btn-primary" onclick="addSanction()">@comps.svg.add() @Messages("businessEntities.addSanction")</button>
              <button id="btnUpdate" class="btn my-1 btn-primary d-none" onclick="updateSanction()">@comps.svg.check() @Messages("businessEntities.updateSanction")</button>
              <button id="btnDelete" class="btn my-1 btn-danger d-none" onclick="deleteSanction()">@comps.svg.trash() @Messages("businessEntities.deleteSanction")</button>
              <hr>
              <button id="btnClear" class="btn my-1  btn-secondary" onclick="clearCurrentSanction()">@comps.svg.x() @Messages("businessEntities.clear")</button>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <label for="fldDate" class="form-label mt-2">@Messages("businessEntities.remarks")</label>
              <input class="form-control" type="text" id="fldRemarks" placeholder="@Messages("businessEntities.remarks")" autocomplete="off">
            </div>
          </div>
          <div class="row my-3">
            <h2>@Messages("businessEntities.registeredSanctions")</h2>
            <table-comp id="tblRegisteredSanctions" cssClasses="table,table-striped,table-sm"></table-comp>
          </div>
        </div>
        <div class="tab-pane" id="union">
          <div class="row mt-2">
            <div class="alert alert-info">@Messages("businessEntitiesEditor.union.explanation")</div>
            <div class="alert alert-danger">@Messages("businessEntitiesEditor.union.warning")</div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <input type="text" class="form-control" value="@frm("name").value.getOrElse("")" placeholder="@Messages("name")" id="similarBizEntName" autocomplete="off">
            </div>
            <div class="col-2">
              <button class="btn btn-outline-klo-blue" onclick="searchSimilarEntities()" type="button" id="btnSimilarSearch">@comps.svg.search() @Messages("search")</button>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <ul id="similarBizEnts">

              </ul>
              <div id="similarBizEntsNotFound" class="noData d-none">
                @Messages("businessEntitiesEditor.union.noneFound")
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
}