@import views.PaginationInfo
@import dataaccess.WorkAccidentDAO.SortKey
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(ents:Seq[WorkAccidentSummary], rgns:(Int=>Option[Region]))(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase(Messages("workAccidentsReqUp.title"), views.BackOfficeSections.WorkAccidents) {
  @comps.pageTitleRow(Messages("workAccidentsReqUp.title")){
    <a href="@routes.WorkAccidentCtrl.showNew()" class="btn btn-outline-primary">@comps.svg.add() @Messages("add")</a>
  }
  <div class="row my-2">
    <div class="col">
    @if( ents.isEmpty ){
      <div class="noData noData-block py-4">
        <div class="my-4">
        @Messages("workAccidents.noData")
        </div>
        <a href="@routes.WorkAccidentCtrl.showNew()" class="btn btn-outline-light">@comps.svg.add() @Messages("add")</a>
      </div>
    }else{
      <table class="table table-sm ">
        <thead>
          <tr>
            <th>@Messages("workAccidents.dateTime")</th>
            <th>@Messages("workAccidents.region")</th>
            <th>@Messages("workAccidents.relatedEntities")</th>
            <th>@Messages("workAccidents.numInjured")</th>
            <th>@Messages("workAccidents.numFatalities")</th>
          </tr>
        </thead>
        <tbody>
        @for( ent <- ents ){@defining( routes.WorkAccidentCtrl.showEdit(ent.id) ){ lnk=>
          <tr>
            <td>
              <div class="d-flex flex-row">
                @Helpers.format(Helpers.DateFmt.HR_Date, ent.dateTime ) @if(ent.hasTime){@Helpers.format(Helpers.DateFmt.HR_Time, ent.dateTime)}
                <button class="btn btn-sm btn-outline-secondary me-auto" type="button" onclick="UiUtils.toggleViz('detailsRow-@ent.id')">@comps.svg.infoSquare()</button>
                <a href="@lnk" class="btn btn-sm @if(ent.requiresUpdate){btn-outline-warning}else{btn-outline-secondary}">@comps.svg.edit()</a>
              </div>
            </td>
            <td>
              @for( rgnId <- ent.regionId ){
                @rgns(rgnId).map(_.name).getOrElse("")
              }
              </td>
            <td>
              @for( rel<-ent.relateds.toSeq.sortBy(_._1.name).zipWithIndex ){
                @rel._1._2.name (@rel._1._1.name) @if(rel._2<ent.relateds.size-1){, }
              }
            </td>
            <td>
              @ent.injuredCount
            </td>
            <td>
              @ent.killedCount
            </td>
          </tr>
          <tr class="detailsRow" id="detailsRow-@ent.id" style="display:none">
            <td colspan="5">
              <span class="text-klo-dg">
                @for( rgn <- ent.regionId.flatMap(rgns) ){
                  @rgn.name,
                }
                @Helpers.ifNotEmpty(ent.location){d => @d, }
              </span>
              @ent.details
            </td>
          </tr>
        }}
        </tbody>
      </table>
    }
    </div>
  </div>
}