@import views.PaginationInfo
@import dataaccess.WorkAccidentDAO.SortKey
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(ents:Seq[WorkAccidentSummary], rgns:(Int=>Option[Region]), pi:PaginationInfo, curSort:SortKey.Value, isAsc:Boolean)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase(Messages("workAccidents.title"), views.BackOfficeSections.WorkAccidents) {
  @comps.pageTitleRow(Messages("workAccidents.title")){
    <a href="@routes.WorkAccidentCtrl.showNew()" class="btn btn-outline-primary">@comps.svg.add() @Messages("add")</a>
  }
  <div class="row my-2">
    <div class="col">
    @if( ents.isEmpty ){
      <div class="noData noData-block py-4">
        <div class="my-4">
        @Messages("workAccidents.noData")
        </div>
        <a href="@routes.WorkAccidentCtrl.showNew()" class="btn btn-outline-light">@comps.svg.add() @Messages("add")</a>
      </div>
    }else{
      <table class="table table-sm ">
        <thead>
          <tr>
            @comps.sortingTH(Messages("workAccidents.dateTime"),
              b=>routes.WorkAccidentCtrl.backofficeIndex(Some("Datetime"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
              curSort, SortKey.Datetime, isAsc)
            @comps.sortingTH(Messages("workAccidents.region"),
              b=>routes.WorkAccidentCtrl.backofficeIndex(Some("Region"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
              curSort, SortKey.Region, isAsc)
            <th>@Messages("workAccidents.relatedEntities")</th>
            @comps.sortingTH(Messages("workAccidents.numInjured"),
              b=>routes.WorkAccidentCtrl.backofficeIndex(Some("Injuries"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
              curSort, SortKey.Injuries, isAsc)
            @comps.sortingTH(Messages("workAccidents.numFatalities"),
              b=>routes.WorkAccidentCtrl.backofficeIndex(Some("Fatalities"), Some(if(b)"t" else "f"),Some(pi.currentPage)),
              curSort, SortKey.Fatalities, isAsc)
          </tr>
        </thead>
        <tbody>
        @for( ent <- ents ){@defining( routes.WorkAccidentCtrl.showEdit(ent.id) ){ lnk=>
          <tr>
            <td class="d-flex flex-row">
              <div>
                @Helpers.format(Helpers.DateFmt.HR_Date, ent.dateTime ) @if(ent.hasTime){@Helpers.format(Helpers.DateFmt.HR_Time, ent.dateTime)}
              </div>
              <div class="me-auto">
                <button class="btn btn-sm btn-outline-secondary" type="button" onclick="UiUtils.toggleViz('detailsRow-@ent.id')">@comps.svg.infoSquare()</button>
                <a href="@lnk" class="btn btn-sm btn-outline-secondary">@comps.svg.edit() @Messages("edit")</a>
              </div>
            </td>
            <td>
              @for( rgnId <- ent.regionId ){
                @rgns(rgnId).map(_.name).getOrElse("")
              }
              </td>
            <td>
              @for( rel<-ent.relateds.toSeq.sortBy(_._1.name).zipWithIndex ){
                @rel._1._2.name (@rel._1._1.name) @if(rel._2<ent.relateds.size-1){, }
              }
            </td>
            <td>
              @ent.injuredCount
            </td>
            <td>
              @ent.killedCount
            </td>
          </tr>
          <tr class="detailsRow" id="detailsRow-@ent.id" style="display:none">
            <td colspan="5">
              <span class="text-klo-dg">
                @for( rgn <- ent.regionId.flatMap(rgns) ){
                  @rgn.name,
                }
                @Helpers.ifNotEmpty(ent.location){d => @d, }
              </span>
              @ent.details
            </td>
          </tr>
        }}
        </tbody>
      </table>
      @comps.pager(pi){i=>@routes.WorkAccidentCtrl.backofficeIndex(Some(curSort.toString), Some(if(isAsc)"t" else "f"), Some(i))}
    }
    </div>
  </div>
}