@import "colors";
@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

footer {
  margin: auto 0 0 0;
  padding-top: 3em;
  .footer-body {
    box-shadow: 0 4px 8px rgba(0,0,0,.25) inset;
    padding: 3em 0 0 0;
    color: white;
    background-color: $KloBlue;
    a {
      color: $KloLightGray;
      display: block;
      margin: auto;
      max-width: 300px;
      &:hover {
        background: rgba(255,255,255,.1);
      }
    }
    .miniIcons {
      display: flex;
      flex-direction: row;
      direction: ltr;
      text-align: center;
      font-size: 9pt;
      border-top: 1px solid rgba(255,255,255,.1);
      margin-top: 2em;
      padding: 1em 1em 2em 1em;
      a {
        color: black;
        display: inline-block;
        text-decoration: none;
        flex-grow: 0;
        margin: 0;
        padding-left: 1em;
        &:hover {
          background-color: transparent;
          color: #FFFFAA;
        }
        &.bkgHover {
          padding: 1px;
          &:hover {
            background-color: #FFFFAA;
          }
        }

      }
    }
  }

  .disclaimer {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid rgba(255,210,200,.5);
    font-size: 9pt;
    color: rgb(255,210,200);
    font-weight: lighter;
  }
}

hr.vr {
  display: inline-block;
  height: 100%;
  width: 0;
  margin: 0 .5em;
  border-left: 1px solid #000;
}

.placeholder {
  background-color: #BBB;
  color: #FFF;
  border-radius: 5px;
  border: 1px dashed #444;
  box-shadow: 0 2px 4px rgba(0,0,0,.5) inset;
  text-shadow: 0 -1px 0 rgba(255,255,255,.25);
  text-align: center;
  display: block;
  padding: 1em;

}

.pageTitleRow-ctnr {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 1.5em 0 .5em 0;

  h1 {
    flex-grow: 1;
    flex-shrink: 1;
    color: $KloBlue;
    font-weight: bold;
  }

  hr.vr {
    margin-left: 1em;
  }

  .pageTitleRow-component{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .btn {
      margin-left: .5em;
      i {
        vertical-align: middle;
      }
    }
  }
  .pageTitleRow-subtitle {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.9em;
    color: #446;
  }
}

.injuredCard {
  border: 1px solid $KloDarkGray;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
  margin-bottom: .5em;
}

@media( max-width: 501px ) {
  .pageTitleRow-ctnr {
    flex-direction: column;
    h1 {
      order: 1;
    }
    .pageTitleRow-subtitle {
      order: 2;
    }
    .pageTitleRow-component {
      margin: .5em 0;
      order: 3;
      text-align: center;
    }
  }
}

.formTitleRow {
  border-bottom: 1px solid $KloBlue;
  h2 {
    font-size: 12pt;
    font-weight: bold;
  }
  button {
    margin-bottom: .5em;
  }
}

.noData {
  background-color: #CCC;
  color: #776;
  text-align: center;
}
.noData-block {
  padding: 1em;
  border-radius: 1em;
  box-shadow: -1px 4px 8px rgba(0,0,0,.5) inset, 1px -4px 8px rgba(255,255,255,.5) inset;
}
.noDataLight{
  color: #776;
  font-style: italic;
}

.rtl {
  direction: rtl;
}

.slideUpPanel{
  background-color: #DDD;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 0 0 4px rgba(0,0,0,0.5) inset;
}

.staticMessage {
  border-radius: 5px;
  padding: 5px;
  background-color: #AAA;
  color: #FFF;
  text-align: center;

  small {
    color: #EED;
  }
}

ul.tagLikeSiteList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    background-color: rgba(0,0,0,.1);
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    font-size: smaller;
  }
}

.errors {
  color: #F00;
  background-color: #FDD;
  padding: 0.5em;
}

ul.errors{
  list-style: none;
}

.bg-klo-lGray {
  background-color: $KloLightGray;
}

.bg-klo-dGray {
  background-color: $KloDarkGray;
}

.bg-klo-blue {
  background-color: $KloBlue;
  color: $KloLightGray;
}

.text-klo-blue {
  color: $KloBlue;
}

.text-klo-dg {
  color: $KloDarkGray
}

.btn-outline-klo-blue {
  border: 1px solid $KloBlue;
  color: $KloBlue;
  background-color: #FFF;
  &:hover {
    border-color: $KloBlue;
    color: #FFF;
    background-color: $KloBlue;
  }
}

.btn-klo-blue {
  background-color: $KloBlue;
  color: #FFF;
  &:hover {
    background-color: darken($KloBlue, 15);
    color: #FFF;
  }
}


.klo-navbar {
  background-color: $KloLightGray;

  .navbar-brand {
    font-weight: bold;
  }

  .dropdown-item {
    color: $KloDarkGray;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: white;
    background-color: $KloBlue;
  }

  .dropdown-item-bg-red:focus, .dropdown-item-bg-red:hover {
    color: yellow;
    background-color: red;
  }
}

.klo-navbar-ctnr {
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
  background-color: $KloLightGray;
}

nav.nav.nav-pills {
  a.nav-link {
    color: $KloBlue
  }
  a.nav-link.active {
    background-color: $KloBlue;
    color: white;
  }

}

tr.detailsRow {
  font-size: 10pt;
  box-shadow: 0 3px 3px rgba(0,0,0,.25) inset, 0 -3px 3px rgba(0,0,0,.25) inset;
  color: black;
  background-color: $KloLightGray;
}

th.sortingColumnHeader{
  a {
    color: $KloBlue;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: $KloLightGray
    }
  }
}

ul.injuredWorkers {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 1em;

    p:last-child {
      margin-bottom: 0;
    }
    .name {
      font-weight: bold;
    }
  }
}

ul.fatalities {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: .5em;

    .name {
      font-weight: bold;
    }

    .noData {
      background: none;
      color: $KloDarkGray;
      font-style: italic;
    }
    .data {
      flex-grow: 1;
    }
    .description {
      color: $KloDarkGray;
    }
    .date {
      flex-grow: 0;
      text-align: left;
      margin-right: auto;
    }
    a {
      color: $KloDarkGray;
      &:hover {
        background-color: $KloLightGray;
        color: $KloBlue;
      }
    }
  }
}

ul.datasetList {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    a {
      display: block;
      text-decoration: none;
      background-color: $KloLightGray;
      border: 2px solid $KloDarkGray;
      color: black;
      border-radius: .5em;
      padding: 1em;
    }
  }
}

ul.linkList {
  list-style: none;
  padding: 0;

  li {
    margin: .5em 0;
    a {
      display: block;
      text-decoration: none;
      background-color: $KloLightGray;
      border: 2px solid $KloDarkGray;
      color: black;
      border-radius: .5em;
      padding: .5em;
      transition: all .3s;
      &:hover {
        background-color: $KloBlue;
        color: #FFF;
        border-color: #000;
      }
    }
  }
}

ul.injuredList-main {
  list-style: none;
  padding: 0;

  li {
    margin: .1em 0;
    a {
      display: block;
      text-decoration: none;
      color: black;
      transition: all .3s;
      &:hover {
        background-color: $KloBlue;
        color: #FFF;
        span.text-muted {
          color: #EEE !important;
        }
      }
    }
  }
}

.controlGrid {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: .5em;
  align-content: center;
  align-items: center;

  label.form-label {
    margin-bottom: 0;
    line-height: 2em;
  }
  .buttonLikeGroup {
    justify-content: start;
  }
}

@media (max-width: 745px) {
  .controlGrid {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
  }
}

.btnUnknown {
  color: $KloBlue;
}

.btnActive {
  background-color: #FFFFAA;
}

a.mediaReport {
  overflow-wrap: break-word;
}

#searchPanel {
  background-color: #EEE;
  border-top: 1px solid $KloLightGray;
  border-bottom: 1px solid $KloLightGray;
  box-shadow: 0 3px 6px rgba(0,0,0,.25) inset;
  padding: .3em;
  border-radius: .3em;
}
