html {
  direction: rtl;
}

body {
  direction: rtl;
}

.form-control {
  unicode-bidi: plaintext;
}

.text-ltr{
  direction: ltr;
}

.text-rtl {
  direction: rtl;
}

.rtl-end {
  text-align: left;
}

.rtl-start {
  text-align: right;
}

.me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.text-end {
  text-align: left !important;
}

.text-start {
  text-align: right !important;
}

.dropdown-menu {
  text-align: right;
  left: inherit;
}

.dropdown-menu-leftFix {
  left: 0;
}

$inputGroupBorderRadius: 0.25rem;

.form-check .form-check-input {
  float: right;
  margin-left: 1em;
}

.btn-group.rtl-aware {
  .btn:first-child {
    border-radius: 0 $inputGroupBorderRadius $inputGroupBorderRadius 0;
  }
  .btn:last-child, .btn.dropdown-toggle {
    border-radius: $inputGroupBorderRadius 0 0 $inputGroupBorderRadius;
  }
}

#InformationalsMessageContainer {
  .btnContainer {
    float: left;
  }
  .yesNoMessage {
    text-align: right;
  }
}