html {
  direction: rtl;
}

body {
  direction: rtl;
}

.form-control {
  unicode-bidi: plaintext;
}

.text-ltr{
  direction: ltr;
}

.text-rtl {
  direction: rtl;
}

.rtl-end {
  text-align: left;
}

.rtl-start {
  text-align: right;
}

.me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.text-end {
  text-align: left !important;
}

.text-start {
  text-align: right !important;
}

.dropdown-menu {
  text-align: right;
  left: inherit;
}

.dropdown-menu-leftFix {
  left: 0;
}

$inputGroupBorderRadius: 0.25rem;

//.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
//.input-group > .input-group-append:last-child > .input-group-text:not(:last-child),
//.input-group > .input-group-append:not(:last-child) > .btn,
//.input-group > .input-group-append:not(:last-child) > .input-group-text,
//.input-group > .input-group-prepend > .btn,
//.input-group > .input-group-prepend > .input-group-text {
//  border-radius: 0 $inputGroupBorderRadius $inputGroupBorderRadius 0;
//  border-left-width: 0;
//}
//
//.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
//  border-radius: $inputGroupBorderRadius 0 0 $inputGroupBorderRadius;
//}
//
//.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
//  border-radius: $inputGroupBorderRadius 0 0 $inputGroupBorderRadius;
//}
//
//.input-group > .custom-select:not(:last-child),
//.input-group > .form-control:not(:last-child) {
//  border-radius: 0 $inputGroupBorderRadius $inputGroupBorderRadius 0;
//}
//

.btn-group.rtl-aware {
  .btn:first-child {
    border-radius: 0 $inputGroupBorderRadius $inputGroupBorderRadius 0;
  }
  .btn:last-child, .btn.dropdown-toggle {
    border-radius: $inputGroupBorderRadius 0 0 $inputGroupBorderRadius;
  }
}

